html, body {
  padding: 0;
  margin: 0;
}

.v-application, .vuepress-blog-theme-content {
  background-color: inherit !important;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

@media (min-width: 390px) {
  img {
    max-width: 390px;
  }
}

/* // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_hor_scroll */

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu>* {
  display: inline-block;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

.img60 {
  padding-bottom: 60%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.vuepress-blog-theme-content {
  padding: 0 !important;
}

header.navbar {
  /* max-width: 780px; */
  margin: auto;
}

/* reddit */

.v-application .info.info {
  background-color: inherit !important;
  border-color: inherit !important;
}

/* p {
  margin-top: 16px !important;
  margin-bottom: 0 !important;
} */

ul {
  margin-bottom: 16px !important;
}