// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_hor_scroll
.scrollmenu {
//   background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu > * {
  display: inline-block;
//   color: white;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

.img60 {
  padding-bottom: 60%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.vuepress-blog-theme-content {
  padding: 0 !important;
}